In [1]:
import numpy as np
import pandas as pd

In [41]:
df=pd.read_csv("../TextFiles/moviereviews.tsv",sep="\t")

In [42]:
df.head()

  label                                             review
0   neg  how do films like mouse hunt get into theatres...
1   neg  some talented actresses are blessed with a dem...
2   pos  this has been an extraordinary year for austra...
3   pos  according to hollywood movies made in last few...
4   neg  my first press screening of 1998 and already i...

In [43]:
df.describe()

       label review
count   2000   1965
unique     2   1939
top      neg
freq    1000     27

In [44]:
df.isna().sum()

label      0
review    35
dtype: int64

In [45]:
df.dropna(inplace=True)
df.shape

(1965, 2)

In [46]:
df['review'].str.isspace().sum()

27

In [47]:
df.drop(df.index[df['review'].str.isspace()],inplace=True)

In [48]:
df.shape

(1938, 2)

In [49]:
df['review'].str.isspace().sum()

0

In [50]:
X=df['review']
y=df['label']

In [51]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=0.33,random_state=42)

In [54]:
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.svm import LinearSVC
test_clf=Pipeline([('vectorize',TfidfVectorizer()),('clf',LinearSVC())])
test_clf.fit(x_train,y_train)

Pipeline(steps=[('vectorize', TfidfVectorizer()), ('clf', LinearSVC())])